

@{
    ViewData["Title"] = "IndexTicket";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXqPAyW7dw2NGiT9Z_6dP-bQsOS_yxAy90J6T5QRJKpy76eiCFzYkpr1_cRYCOsdQfFe7zv3_e_YB6QK&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
        paypal.Buttons({
            // Sets up the transaction when a payment button is clicked
            createOrder: (data, actions) => {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '1'
                        }
                    }]
                });
            },
            // Finalize the transaction after payer approval
            onApprove: (data, actions) => {
                return actions.order.capture().then(function (orderData) {
                    // Successful capture! For dev/demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    const transaction = orderData.purchase_units[0].payments.captures[0];


                    const element = document.getElementById('paypal-button-container');
                    //var id; //if you want to pass an Id parameter
                    window.location.href = '@Url.Action("PayEndMembership", "Payment")/' ;
                });
            }

        }).render('#paypal-button-container');
    </script>
</body>
</html>


