

@{
    ViewData["Title"] = "PayEndMembership";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="form-group text-center" style="margin-top: 4em;">
    <h1 class="control-label with-font" style="font-weight: 800;">You successfully bought a Membership!</h1>
</div>




<a href="@Url.Action("Index", "Event")" class="btn btn-default">Go back</a>

