@model Eveq_Oicar_web.Models.Member

@{
    ViewData["Title"] = "RedirectToDelete";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h1>RedirectToDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
