<!DOCTYPE html>
<html lang="en">
@using Firebase.Auth
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eveq_Oicar_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/home_index.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style=" background-color: #403A32;">
    <header style="background-color: #2A2623;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <a class="navbar-brand hvr-grow" asp-area="" asp-controller="Home" asp-action="Index" style="margin:0 auto 0 7em;"> <img width="70" height="50" src="~/logo.png" alt="" title=""></a>
            <div class="container" style="margin:0 auto 0 auto; width:50em">
                <a class="navbar-brand with-navfont hvr-grow animatable" style=" color: #fff; font-size: 20px; font-weight: 800;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-brand with-navfont hvr-grow animatable" style="margin-left: 15px; color: #fff; font-size: 20px; font-weight: 800;" asp-area="" asp-controller="Home" asp-action="SignIn">Login</a>
                <a class="navbar-brand with-navfont hvr-grow animatable" style="margin-left: 15px; color: #fff; font-size: 20px; font-weight: 800;" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                </div>
            </div>
        </nav>
    </header>
    <!--class="pb-3"-->
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Eveq_Oicar_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
