
@{
    ViewData["Title"] = "ForgotPasswordSent";
}

<h1>ForgotPasswordSent</h1>

<div class="row">
    <div class="col-md-4">
        Link to reset your password has been sent to your e-mail
    </div>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>
