
@{
    ViewData["Title"] = "ForgotPasswordSent";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

    <div class="col-md-4 centered text-center">
      <label class="with-font" style="font-weight: 800; font-size: large;">Link to reset your password has been sent to your e-mail </label>
    </div>





