@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center centered">
    <h1 class="display-1 animate-charcter">EvenQ</h1>

    <p class="h4 with-font" style="">
        Dobrodošli u EvenQ. Najperspektivnija web stranica za organiziranje, upravljanje i izradu različitih vrsta
        događaja za vas i za druge. Nadamo se da ćete uživati u korištenju.
    </p>
</div>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>