@model Eveq_Oicar_web.Models.Register

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-4 centered" style="background-color: rgba(0, 0, 0, 0.3); border-radius: 25px;">
    <form asp-action="Register" style="margin-top: 10px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <label class="control-label with-font" style="font-weight: 800; font-size: large;">Refferal Code:</label>
            <input asp-for="ReferralCode" class="form-control" data-val-required="Refferal kod ne smije biti prazan" />
            <span asp-validation-for="ReferralCode" class="text-danger font-weight-bold"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="Password" class="form-control" type="password" data-val-length-min="6" data-val-required="The Password field is required." data-val-length="The Password must be at least 6" />
            <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label with-font" style="font-weight: 800; font-size: large;"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" data-val-equalto-other="*.Password" data-val-equalto="The password and confirmation password do not match." />
            <span asp-validation-for="ConfirmPassword" class="text-danger font-weight-bold"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-light" style="width: 100%;" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
